<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
    <div class="header1 d-flex justify-content-center"><h1>Add Your Todo List</h1></div>
    <div class="task d-flex mx-2"> 
        <input class="w-100 border-none border-secondary mx-2" type="text" placeholder="Add New Task" id="taskInput">
        <button type="button" id="addTask">+</button>
    </div>
    <div class="taskList">
        
    </div>
    <div class="taskDetails">
        <li><span id="taskLeft"></span> items left</li>
        <li>All <span id="allTask"></span></li>
        <li>Active <span id="activeTask"></span> </li>
        <li> Completed <span id="completedTask"></span> </li>
       <button id="clear">Clear All</button>
    </div>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../JS/toDo.js"></script>
</body>
</html>